# Configuration file

autoclave {
    I:"dustAmber;gt.integrated_circuit;steam;_3200"=3200
    I:"dustBauxite;dustPotassiumHydroxide;steam;_3000"=3000
    I:"dustBauxite;dustSmallPotassiumHydroxide;steam;_1500"=1500
    I:"dustBauxite;dustSmallSodiumHydroxide;steam;_1500"=1500
    I:"dustBauxite;dustSodiumHydroxide;steam;_3000"=3000
    I:"dustCraponite;gt.integrated_circuit;steam;_3200"=3200
    I:"dustDilithium;gt.integrated_circuit;steam;_3200"=3200
    I:"dustDominicanAmber;gt.integrated_circuit;steam;_3200"=3200
    I:"dustEnergiumCyan;gt.integrated_circuit;steam;_3200"=3200
    I:"dustEnergiumRed;gt.integrated_circuit;steam;_3000"=3000
    I:"dustEnergiumRed;gt.integrated_circuit;steam;_3200"=3200
    I:"dustGravitite;gt.integrated_circuit;steam;_3200"=3200
    I:"dustNetherQuartz;gt.integrated_circuit;steam;_3200"=3200
    I:"dustQuartzite;gt.integrated_circuit;steam;_3200"=3200
    I:"dustSmallAmber;gt.integrated_circuit;steam;_800"=800
    I:"dustSmallBauxite;dustPotassiumHydroxide;steam;_3000"=3000
    I:"dustSmallBauxite;dustSmallPotassiumHydroxide;steam;_1500"=1500
    I:"dustSmallBauxite;dustSmallSodiumHydroxide;steam;_1500"=1500
    I:"dustSmallBauxite;dustSodiumHydroxide;steam;_3000"=3000
    I:"dustSmallCraponite;gt.integrated_circuit;steam;_800"=800
    I:"dustSmallDilithium;gt.integrated_circuit;steam;_800"=800
    I:"dustSmallDominicanAmber;gt.integrated_circuit;steam;_800"=800
    I:"dustSmallEnergiumCyan;gt.integrated_circuit;steam;_800"=800
    I:"dustSmallEnergiumRed;gt.integrated_circuit;steam;_800"=800
    I:"dustSmallGravitite;gt.integrated_circuit;steam;_800"=800
    I:"dustSmallNetherQuartz;gt.integrated_circuit;steam;_3200"=3200
    I:"dustSmallQuartzite;gt.integrated_circuit;steam;_3200"=3200
    I:"dustSmallZanite;gt.integrated_circuit;steam;_800"=800
    I:"dustTinyBauxite;dustPotassiumHydroxide;steam;_3000"=3000
    I:"dustTinyBauxite;dustSmallPotassiumHydroxide;steam;_1500"=1500
    I:"dustTinyBauxite;dustSmallSodiumHydroxide;steam;_1500"=1500
    I:"dustTinyBauxite;dustSodiumHydroxide;steam;_3000"=3000
    I:"dustZanite;gt.integrated_circuit;steam;_3200"=3200
    I:"item.appliedenergistics2.ItemCrystalSeed.Certus;gt.integrated_circuit;steam;_1500"=1500
    I:"item.appliedenergistics2.ItemCrystalSeed.Fluix;gt.integrated_circuit;steam;_1500"=1500
    I:"item.appliedenergistics2.ItemCrystalSeed.Nether;gt.integrated_circuit;steam;_1500"=1500
}


