# Configuration file

roll_bender {
    I:"casingSmallTin;_64"=64
    I:"casingSmallZirconium;_128"=128
    I:"gt.multiitem.food.12310;_32"=32
    I:"gt.multiitem.food.12311;_32"=32
    I:"gt.multiitem.food.12312;_32"=32
    I:"gt.multiitem.food.12313;_32"=32
    I:"gt.multiitem.food.12314;_32"=32
    I:"item.clay;_32"=32
    I:"item.earthyClump.bentonite;_32"=32
    I:"item.earthyClump.fullersEarth;_32"=32
    I:"item.earthyClump.kaolinite;_32"=32
    I:"item.earthyClump.laterite;_32"=32
    I:"plateAluminium;_768"=768
    I:"plateCurvedIron;_256"=256
    I:"plateCurvedMeteoricIron;_256"=256
    I:"plateCurvedMeteorite;_256"=256
    I:"plateCurvedPigIron;_256"=256
    I:"plateCurvedTin;_256"=256
    I:"plateCurvedTinAlloy;_64"=64
    I:"plateCurvedWroughtIron;_256"=256
    I:"plateIron;_768"=768
    I:"stickAluminium;_384"=384
    I:"stickIron;_384"=384
    I:"stickIronMagnetic;_384"=384
    I:"stickLongCopper;_256"=256
    I:"stickLongSteel;_768"=768
    I:"stickSteel;_384"=384
}


