# Configuration file

wiremill {
    I:"compressedCopper;_128"=128
    I:"dustCarbon;_128"=128
    I:"dustCoal;_128"=128
    I:"dustGraphene;_128"=128
    I:"dustGraphite;_128"=128
    I:"ingotCopper;_128"=128
    I:"ingotSteel;_384"=384
    I:"plateAnnealedCopper;_128"=128
    I:"plateCopper;_128"=128
    I:"plateGemEnori;_128"=128
    I:"plateGold;_128"=128
    I:"plateHSLASteel;_128"=128
    I:"plateIron;_128"=128
    I:"plateKnightmetal;_128"=128
    I:"plateMeteoricIron;_128"=128
    I:"plateMeteoricSteel;_128"=128
    I:"plateMeteorite;_128"=128
    I:"platePigIron;_128"=128
    I:"plateSteel;_128"=128
    I:"plateTin;_128"=128
    I:"plateWroughtIron;_128"=128
    I:"stickAluminium;_192"=192
    I:"stickIron;_192"=192
    I:"stickIronMagnetic;_192"=192
    I:"stickLongCopper;_128"=128
    I:"stickLongSteel;_384"=384
    I:"stickSteel;_192"=192
}


