# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=b3e37898-df28-44d5-b145-a1a8922a2e29

    # Set to true to disable all reporting
    B:opt-out=false
}


